/*General changes*/
body {
  background-color: rgb(139, 139, 139);
  background-blend-mode: darken;
  margin-top: 0;
  margin: 0;
  padding: 0;
  color: black;
  font-weight: 500;
  font-family: "Courier New", Courier, monospace;
  text-decoration: none;
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  font-size: 1.2rem;
}

.background--oscuro {
  background-color: rgba(0, 0, 0, 0.699);
}

li {
  list-style: none;
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: black;
}

i {
  font-size: 2rem;
}

h1 {
  text-align: center;
  font-size: 4.5rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

.titulo__principal h1 {
  color: white;
  font-size: 10vw;
  font-weight: bolder;
}

.img--size img, figure img {
  width: 320px;
  display: block;
}

#background__index {
  background-image: url(../img/fondo_index.png);
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 100vw;
  min-height: 50vw;
}

/*Navbar*/
.navbar {
  background-color: rgba(99, 99, 99, 0.783);
  width: 100vw;
  margin-top: 0;
}
.navbar .navbar-nav {
  display: flex;
  justify-content: space-around;
}
.navbar .navbar-nav .nav-item {
  position: relative;
}
.navbar .navbar-nav .nav-item::before {
  content: "";
  position: absolute;
  height: 33.33%;
  width: 0;
  background-color: #424242;
  transition: all 0.5s;
  right: 0;
  z-index: 0;
  top: 33.33%;
}
.navbar .navbar-nav .nav-item::after {
  content: "";
  position: absolute;
  height: 33.33%;
  width: 0;
  background-color: #424242;
  transition: all 0.5s;
  left: 0;
  z-index: 0;
  bottom: 0;
}
.navbar .navbar-nav .nav-item .nav-link {
  position: relative;
  display: block;
  padding: 25px;
  font-size: 2rem;
}
.navbar .navbar-nav .nav-item .nav-link::before {
  content: "";
  position: absolute;
  height: 33.33%;
  width: 0;
  background-color: #424242;
  transition: all 0.5s;
  bottom: 66.66%;
  left: 0;
}
.navbar .navbar-nav .nav-item:hover::before, .navbar .navbar-nav .nav-item:hover::after, .navbar .navbar-nav .nav-item:hover .nav-link::before {
  width: 100%;
}

.offcanvas-body {
  font-family: "Courier New", Courier, monospace;
}

/*Albums*/
.albums--grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}
.albums--grid .name__album {
  text-align: center;
}
.albums--grid figure:hover img {
  transform: scale(1.05);
}
.albums--grid figure img {
  transition: transform 0.3s ease;
}

/*Form*/
.form--flex {
  padding: 10px 20px;
  margin: auto;
  width: 360px;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.submit {
  text-align: center;
}

/*Social media*/
.contacto {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "cuentas cuentas redes redes" "numero numero numero logo";
}
.contacto .contacto__cuentas--grid, .contacto .contacto__numero--grid, .contacto .contacto__redes--grid {
  grid-area: cuentas;
  justify-items: center;
}
.contacto .contacto__redes--grid {
  grid-area: redes;
}
.contacto .contacto__numero--grid {
  grid-area: numero;
}
.contacto .contacto__numero--grid ul li {
  margin: 5px 0;
}
.contacto .contacto__cuentas--flex {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.contacto .contacto__cuentas--flex li a {
  margin: 0 10px;
  transition: color 0.3s;
}
.contacto .contacto__cuentas--flex li a:hover {
  color: #424242;
}
.contacto .logo {
  grid-area: logo;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contacto .logo img {
  border-radius: 70%;
  width: 40%;
}

/*Bio*/
.bio {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "img__ty img__josh info info" "txt__ty txt__josh info info";
}
.bio .img__ty {
  grid-area: img__ty;
}
.bio .img__josh {
  grid-area: img__josh;
}
.bio .bio__tyler--grid {
  grid-area: txt__ty;
}
.bio .bio__josh--grid {
  grid-area: txt__josh;
}
.bio .bio__info--grid {
  grid-area: info;
}

#bio__title {
  text-align: center;
}

.biografia {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 20px;
  padding: 40px;
}
.biografia .container-item-bio {
  max-width: 450px;
  min-width: 360px;
  background-color: #acacac;
  border: 2px solid #323232;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.562);
  transition: transform 0.3s ease;
}
.biografia .container-item-bio h3 {
  margin-bottom: 10px;
  font-size: 1.5rem;
}
.biografia .container-item-bio p {
  font-size: 1rem;
}
.biografia .container-item-bio:hover {
  transform: translateY(-5px);
}

/*Footer*/
footer ul {
  text-align: center;
  font-family: "Martian Mono", serif;
  color: white;
}
footer ul li a {
  color: white;
}

/*Iframe*/
.iframe__spotify {
  display: flex;
  justify-content: center;
}
.iframe__spotify iframe {
  max-width: 700px;
  min-width: 360px;
  border-radius: 12px;
}

/*Responsive general*/
@media screen and (max-width: 768px) {
  .titulo__principal h1 {
    color: rgb(95, 95, 95);
  }
  #background__index {
    background-image: url(../img/fondo_reponsive.jpeg) !important;
    background-size: cover;
    min-height: 640px;
    max-height: 1024px;
  }
  p {
    font-size: 0.9rem;
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  .img--size img {
    width: 175px;
  }
  /*Bio responsive*/
  .bio {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "img__ty img__josh" "txt__ty txt__josh" "info info";
  }
  .biografia {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }
  /*Albums responsive*/
  .albums--grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  figure img {
    width: 45vw;
  }
  /*Contacto responsive*/
  .contacto {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "cuentas" "redes" "numero" "logo";
  }
  .logo {
    display: flex;
    justify-content: center;
  }
}

/*# sourceMappingURL=styles.css.map */
