@import 'variables';

/*General changes*/
body{ background-color: rgb(139, 139, 139);
    background-blend-mode: darken;
    margin-top: 0; margin: 0; padding: 0;
    color: $font__principal--color;
    font-weight: 500;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    font-size: 1.5vw;}
    
 .background--oscuro{background-color: rgba(0, 0, 0, 0.699);}
    
    li{list-style: none;}
    
    a{text-decoration: none;
    color: $font__principal--color;}

    i{font-size: 1.7rem;}

    h1{text-align: $center;
        font-size: 5vw;}

    h2 {font-size: 3rem ;}
        
    .titulo__principal {
        h1 {color: rgb(255, 255, 255);
            font-size: 10vw;
            font-weight: bolder;}
    }


   .img--size img{width: $img--size;} 
        
    #background__index { 
         background-image: url(../img/fondo_index.png); 
         background-repeat: no-repeat;
         background-size: cover;
         max-height: 100vw;
         min-height: 50vw;
    }   

/*Navbar*/
.navbar {
    background-color: rgba(99, 99, 99, 0.783);
    width: 100vw;
    margin-top: 0;
    .navbar-nav {
        display: flex;
        justify-content: space-around;
        .nav-link{
            display: block;
            padding: 25px;
            font-size: 2rem;
        }
    }
}

/*Albums*/
.albums--grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    object-fit: cover;}

.name__album{
text-align: $center;}

figure img{width: $img--size;}

 /*Form*/

.form--flex{   
    padding: 10px 20px;
    margin: auto;
     width: 360px;
     background-color: gray; 
     display: flex;
     justify-content: $center;
     align-items: $center;
     border-radius: 10px;
     
    }
    .submit{text-align: $center;} 


/*Social media*/ 
 
.contacto{display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
    "cuentas cuentas redes redes"
    "numero numero numero logo";
    .contacto__cuentas--grid{grid-area: cuentas;
        justify-items: $center;}
    .contacto__redes--grid{grid-area: redes;}
    .contacto__numero--grid{grid-area: numero;
        justify-items: $center;
     }
    .contacto__cuentas--flex{
        display: flex;
        li a {margin: 0 15px;}
     }
    .logo img{border-radius: 70%;
        width: 40%;}
 }

 /*Bio*/  

 .bio{
    display: grid;
    justify-content: space-between ;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 20px;
    grid-template-areas: 
    "img__ty img__josh info info"
    "txt__ty txt__josh info info";
    .img__ty{grid-area: img__ty;}
    .img__josh{grid-area: img__josh;}
    .bio__tyler--grid {grid-area: txt__ty;}
    .bio__josh--grid{grid-area: txt__josh;}
    .bio__info--grid{grid-area: info;}
 }

 /*Footer*/

footer ul {
    text-align: $center;
    font-family: "Martian Mono", serif;
    color: rgb(255, 255, 255) ; 

    li a {
      color: rgb(255, 255, 255);}
  }

   
  /*Uso del import abajo x la cascada*/
  @import 'responsive';
