<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="álbumes de twenty one pilots">
      <meta name="keywords" content="álbumes de twenty one pilots, twenty one pilots, top, vessel, self tituled, rab, regional at best,
      blurryface, trench, scaled and icy, sai, clancy">
      <meta name="google-site-verification" content="6iLMJkWDEpp_BCkq4JoQLd6wTY1Vfzz-Tvf0wUZh0uQ" />
      <title>BIO</title>
  
      <!--Google fonts-->
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap" rel="stylesheet">
      <!--Fontawesome-->
      <script src="https://kit.fontawesome.com/f7613123b7.js" crossorigin="anonymous"></script>
      <!--bootstrap-->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
     <!--CSS propio-->
      <link rel="stylesheet" href="../css/styles.css">
         <!-- Animaciones-->
   <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  </head>
<body>
    
<header>
   <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">T∅P</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="../index.html">INICIO</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./bio.html">BIO</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="./albumes.html">ÁLBUMES</a>
             </li>
             <li class="nav-item">
               <a class="nav-link" href="./contacto.html">CONTACTO</a>
             </li>
             <li class="nav-item">
               <a class="nav-link" href="./registrarse.html"><i class="fa-solid fa-user"></i></a>
             </li>
          </ul>
         
        </div>
      </div>
    </nav>
</header>
<main>
<h1>ÁLBUMES</h1>


    <section class="albums--grid">

 <div data-aos="zoom-in-down">
 
   <figure>
    <a href="./self_tituled.html"> <img src="../img/self_tituled.jpg" alt="Imagen del álbum Self Tituled"> </a>
   </figure>

 <div class="name__album">
    <h2>Twenty One Pilots</h2>
 </div>

</div>

<div data-aos="zoom-in-down">

 <figure>
    <img src="../img/regional_at_best_album.jpeg" alt="Imagen del álbum Regional at Best">
 </figure>

 <div class="name__album">
    <h2>Regional at Best</h2>
 </div>

</div>

<div data-aos="zoom-in-down">

 <figure>
    <img src="../img/vessel_album.jpg" alt="Imagen del álbum de Vessel">
 </figure>

 <div class="name__album">
    <h2>Vessel</h2>
 </div>

 </div>

 <div data-aos="zoom-in-down">

  <figure>
    <img src="../img/blurryface_album.jpg" alt="Imagen del álbum de Blurryface">
  </figure>
  

  <div class="name__album">
    <h2>Blurryface</h2>
  </div> 
</div> 

<div data-aos="zoom-in-down">

  <figure>
    <img src="../img/album_trench.jpeg" alt="Imagen del,álbum de Trench">
 </figure>

 <div class="name__album">
    <h2>Trench</h2>
 </div>

</div> 
 
<div data-aos="zoom-in-down">

 <figure>
    <img src="../img/sai_album.jpg" alt="Imagen del álbum Scaled and Icy">
 </figure>

 <div class="name__album">
    <h2>Scaled and Icy</h2>
 </div>

</div>

<div data-aos="zoom-in-down">

 <figure>
    <img src="../img/clancy_album.jpg" alt="Imagen del álbum Clancy">
 </figure>

 <div class="name__album">
    <h2>Clancy</h2> 
 </div>

 </div>

</section>


</main>
<footer>
    <ul>
        <li>COPYRIGHT 2025 BLEITO</li>
        <li><a href="http://" target="_blank" rel="noopener noreferrer"> POLÍTCA Y PRIVACIDAD</a></li>

</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
   AOS.init();
 </script>
</body>
</html>