<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="biografía de twenty one pilots">
    <meta name="keywords" content="biografía twenty one pilots, bio top, bio twenty one pilots, tyler joseph, 
    josh dun">
    <meta name="google-site-verification" content="6iLMJkWDEpp_BCkq4JoQLd6wTY1Vfzz-Tvf0wUZh0uQ" />
    <title>BIO</title>

    <!--Google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap" rel="stylesheet">
    <!--Fontawesome-->
    <script src="https://kit.fontawesome.com/f7613123b7.js" crossorigin="anonymous"></script>
    <!--bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
   <!--CSS propio-->
    <link rel="stylesheet" href="../css/styles.css">
   <!-- Animaciones-->
   <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body>
    
    <header>
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand" href="/index.html">T∅P</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="../index.html">INICIO</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">BIO</a>
              </li>
              <li class="nav-item">
                 <a class="nav-link" href="./albumes.html">ÁLBUMES</a>
               </li>
               <li class="nav-item">
                 <a class="nav-link" href="./contacto.html">CONTACTO</a>
               </li>
               <li class="nav-item">
                 <a class="nav-link" href="./registrarse.html"><i class="fa-solid fa-user"></i></a>
               </li>
            </ul>
           
          </div>
        </div>
      </nav>
    </header>
 <main>  

  <div data-aos="fade-down">
    
<h1>BIO</h1>

<h2> INTEGRANTES</h2>

<section class="bio">

 <div class="img__ty img--size" >
   <img src="../img/tyler_img.jpg" alt="Imagen de Tyler Joseph">
 </div>

 <div class="img__josh img--size">
 <img src="../img/josh_img.jpeg" alt="Imagen de Josh Dun">
 </div>

<div class="bio__tyler--grid">
 <h3>Tyler Robert Joseph</h3>

 <p>
    Tyler, cantante, tecladista, bajista y compositor de Twenty One pilots, nació 1 de diciembre de 1988 en Columbus, Ohio. 
 </p>
</div>

 <div class="bio__josh--grid">
    <h3>Joshua Wiliam Dun</h3>
    
    <p>El baterista de la banda, nació el 18 de junio de 1988.
        Al igual que Tyler, es de Columbus, Ohio, Estados Unidos.
        Se integró a la banda en el año 2011. 
    </p>
 </div>

<div class="bio__info--grid">
<h3>TWENTY ONE PILOTS</h3>

<p>Es una de las bandas más famosas, gracias a éxitos como "Stressed Out", "Ride" y "Heathens". </p>
   <p> Cuenta con una variedad amplia de géneros musicales como pop, pop alternativo, rock alternativo, rap, etc.
  En 2017 les otorgaron un Grammy al mejor grupo/dúo pop. </p>

  <p>Twenty One Pilots destaca por sus canciones con letras profundas que reflexionan sobre problemas de salud mental y luchas internas.
  Los últimos cuatro álbumes forman en conjunto una interesante y enigmática historia oculta que fueron descubriendo
 los fans mediante las letras de las canciones, video clips y una gran variedad de rebuscadas pistas, como por ejemplo una página secreta 
 que contenia cartas en las que se hablaba sobre el lugar ficticio donde transcurre la historia. </p>
</div>
</section>
</div>

<h2 id="bio__title">BIOGRAFIÁ</h2>

<section class="biografia">

  <div class="container-item-bio">
    <h3>PRINCIPIOS DE LA BANDA</h3>
    <p>
      Tyler conoció a Nick Thomas cuando era niño, mientras 
      jugaba basquet, luego fueron a la escuela secundaria juntos
    </p>
    <p>
      En 2007 Tyler grabó un álbum solista llamado 
     "No Phun Intended", Thomas ayudaba en canciones con la guitara. 
    </p>
    <p>
      En la universidad conoció a Chris Salih en una fiesta. En 2009 el grupo se mudó a una casa propia donde grabaron un álbum homónimo en su sótano.
    </p>
  </div>
  
  <div class="container-item-bio">
    <h3>NOMBRE DE LA BANDA</h3>
    <p>
      El nombre de la banda se debe a la obra "All My Sons" En 
      esta historia el protagonista se encuentra en una decisión moral.
       Al descubrir que algunos aviones de guerra y estaban 
      defectuosos, tenía que elegir entre la opción fácil, usar los aviones como están
      o gastar su dinero en repararlos.
    </p>
    <p>Al final decide enviarlos como están por miedo perder 
      dinero que usa para su familia y mueren 21 pilotos y el protagonista se suicida.
    </p>
    <p>
      Joseph cuenta que la historia le resonó la historia gracias al dilema moral entre
       la elección fácil y la correcta, ya que esta traerá consecuencias.
    </p>
    <p>
      Chris Salih trabajaba en Guitar Center con Josh Dun, (ex-baterista de House of Heroes), este invitó a Josh a 
      un show de TØP. Luego se hizo muy buen amigo de Tyler.
    </p>
  </div>
    
  <div class="container-item-bio">
    <h3>2011 - 2013</h3>
    <p>
      En 2011 Chris y Thomas dejan la banda por motivos del trabajo y educación.
       Salih invitó a Josh Dun a tomar su lugar.
    </p>
    <p>
      Luego de abandonar la banda ambos ex integrantes siguieron 
      involucrados en la banda asistiendo a algunos shows, o apoyándolos.
    </p>
    <p>
      En julio del mismo año, el dúo saca el álbum "Regional At Best", el último en ser independiente. 
      Actualmente está fuera de circulación pero se puede escuchar en algunas plataformas
    </p>
  </div>  

  <div class="container-item-bio">
    <h3>2012 - 2014</h3>
    <p>
      En 2012 la banda lanzó un álbum debut llamado "Three Songs" en forma de EP bajo el sello de Fuled by Ramen.
    </p>
    <p>
      En 2013 fue lanzado el álbum de estudio "Vessel". Los hombres de la portada son los abuelos de Tyler y Josh. 
      Esto, tanto como el nombre, simboliza un contenedor, un vessel, que aunque mueran, su mensaje estará vivo.
    </p>
  </div>

  <div class="container-item-bio">
    <h3>2015 - 2017</h3>
    <p>
      En esta era se lanzó el cuarto álbum y segundo de estudio "Blurryface", el cual vendió muchísimas copias.
    </p>
    <p>
      En 2016 se publicó el sencillo "Heathens", hecho para la película "Suicide Squad" y
       el cover de la canción "Cancer" de My Chemical Romance. 
    </p>
    <p>
      En 2017 ganaron un Grammy a mejor dúo/grupo alternativo. Como dato curioso, cuando salieron a 
      recibir el premio, ambos integrantes se quitaron los pantalones.
    </p>
    <p> Posteriormente la banda entró en un período de silencio llamado por los fans como "Hiatus"</p>
  </div>

  <div class="container-item-bio">
    <h3>2018 - 2019</h3>
    <p>
      En julio de 2018 rompen el silencio con un mail a los fanáticos, actualizando sus redes, logotipo, 
      marca y publicaron los sencillos "Jumpsuit" y "Nico and the Niners" seguidos de "Levitate" y
       "My Blood" que forman parte del álbum Trench.
    </p>
    <p>
      En esta era fue revelada de forma encriptada y mediante cartas
       en una página web oculta parte de la historia detrás de los últimos álbumes.
    </p>
  </div>

  <div class="container-item-bio">
    <h3>2020 - 2023</h3>
    <p>A causa de la pandemia de coronavirus la madre convence a Tyler de hacer la canción "Level of Concern" </p>

     <p> Ambos artistas continuaron trabajando por el nuevo álbum de forma remota a causa del COVID-19.</p>
      <p>
      En finales de 2020 suben el sencillo "Christmas Saves the Year" y un directo en Twich.
      </p>
      <p>
      El 7 de abril de 2021 lanzan el primer sencillo del álbum "Scaled and Icy", llamado Shy Away.
      El álbum fue lanzado en mayo de ese mismo año, el cual contenía muchas referencias a la trama
       detrás de las canciones.
      </p>
      <p>
      También realizaron un concierto en vivo, Twenty One Pilots Livestram Experience.
      En septiembre ss realizo un concierto que dio lugar en el videojuego Roblox.
    </p>
  </div>

  <div class="container-item-bio">
    <h3>2024 - ACTUALIDAD</h3>
    <p>
      A principios de 2024 se actualizaron las portadas de Vessel, Trench, Blurryface y Scaled and Icy en las
       plataformas de música y se reveló un nuevo logo mediante vallas y carteles publicitarios al rededor del mundo.
    </p>
    <p>
      El 22 de febrero se publicó un video titulado I am Clancy, en el cual se confirmó detalles de la historia.
      En mayo fue lanzado el último álbum "Clancy".
    </p>
    <p>
      A finales de 2024 Twenty One Pilots contribuyó con la canción "The Line" que formó parte del soundtrack de la 
      temporada dos de la seria Arcane: League Of Legends.
    </p>
  </div>

</section>
</main>

<footer>
    <ul>
        <li>COPYRIGHT 2025 BLEITO</li>
        <li><a href="http://" target="_blank" rel="noopener noreferrer">POLÍTCA Y PRIVACIDAD</a></li>
    </ul>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>
</body>
</html>