<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="twenty one pilots blurryface significado y tracklist">
    <meta name="keywords" content="álbumes de twenty one pilots, twenty one pilots, spotify, blurryface significado,
     blurryface tracklist">
    <meta name="google-site-verification" content="6iLMJkWDEpp_BCkq4JoQLd6wTY1Vfzz-Tvf0wUZh0uQ" />
    <title>Blurryface</title>

        <!--Google fonts-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap" rel="stylesheet">
        <!--Fontawesome-->
        <script src="https://kit.fontawesome.com/f7613123b7.js" crossorigin="anonymous"></script>
        <!--bootstrap-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
       <!--CSS propio-->
        <link rel="stylesheet" href="../css/styles.css">
       <!-- Animaciones-->
       <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body>
        <header>
            <nav class="navbar fixed-top">
              <div class="container-fluid">
                <a class="navbar-brand" href="../index.html">T∅P</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar">
                  <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menú</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                  </div>
                  <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                      <li class="nav-item">
                        <a class="nav-link active" href="./albumes.html">ÁLBUMES</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="./self_tituled.html">SELF TITULED</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="./rab.html">REGIONAL AT BEST</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="./vessel.html">VESSEL</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">BLURRYFACE</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="./trench.html">TRENCH</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="./sai.html">SCALED AND ICY</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="./clancy.html">CLANCY</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </nav>
          </header>        
    
<main>
<h1>BLURRYFACE</h1>
  <section class="iframe__spotify">

    <iframe style="border-radius:12px"

     src="https://open.spotify.com/embed/album/3cQO7jp5S9qLBoIVtbkSM1?utm_source=generator" 
     width="100%" height="352" frameBorder="0" allowfullscreen=""
     allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy">
    </iframe>
  
    </section>

    <section class="container__songs">
        <h2>SIGNIFICADOS</h2>

        <div class="song__significado">

            <h3>Heavydirtysoul</h3>

            <p>La canción empieza describiendo que su mente esta infectada de pensamientos oscuros e inseguridades,
              pero que la manera de sobrevivir es escribiendo música en su sótano. Él personifica estas inseguridades
              como blurryface, una versíon de si mismo, la cual mediante cada una de las canciones de este álbum intenta
              destruir a este personaje.
            </p>
            <p>En el estribillo pide a Dios o a alguien que lo salve de su pesada y sucia alma. 
              En la segunda parte critica que la sociedad hoy en día no tiene conciencia y no les importa lo que pasa a su 
              al rededor y que viven bajo el término "you only live once".
            </p>
            <p>En esta canción se aborda el miedo a la muerte, esta es principalmente la inseguridad que representa.</p>

        </div>

      <div class="song__significado">

        <h3>Stressed Out</h3>

        <p>En stressed out, Tyler cuenta que le importa lo que la gente piensa, que se siente inseguro e
          insuficiente. Extraña las viejas épocas, cuando no se preocupaba por las cosas, pero ahora Blurryface 
          lo estresa cada vez más, aunque quiera volver a ser como antes, Blurryface le dice que deben ganar dinero.
        </p>
        
    </div>

    <div class="song__significado">

      <h3>Ride</h3>

      <p>En la canción se manifiesta el deseo de querer sentir felicidad y paz, por lo que refleja los pequeños
        momentos en el medio del caos, y aunque la eterna felicidad es imposible, le gusta fantasear con la idea.
      </p>
      <p>Admite que le gusta ver a sus enemigos sufrir y que Blurryface forma parte de él. Poco a poco se va 
        alejando de su fe, pero que lo que le importa es disfrutar la vida.
      </p>
      <p>En una estrofa menciona que lo difícil no es morir por una persona, si no vivir por ella y pensar siempre 
        su bienestar. Al final de la canción Tyler dice que ha estado pensando demasiado y que neccesita ayuda.
      </p>
  </div>

  <div class="song__significado">

    <h3>Fairy Local</h3>

    <p>Es la dualidad entre Tyler y Blurryface, cuenta que aveces hace lo que no debería, aunque sabe que 
      no es correcto, pero que realmente intenta resistirse y luchar contra estos pensamientos, que 
    no es una mala persona, y que no es débil, si no que usa su forma de ser para ayudar a los demás.</p>
    
</div>

<div class="song__significado">

  <h3>Tear In My Heart</h3>

  <p>Trata temas de amor principalmente, la canción esta dedicada a la esposa de Tyler, Jenna, que aunque el amor
    puede ser doloroso, pero también es hermoso y exaltante, que lo hace sentir más vivo que nunca. 
  </p>
  
</div>

<div class="song__significado">

  <h3>Lane Boy</h3>

  <p>La canción 'Lane Boy' de Twenty One Pilots es una crítica audaz a las normas y expectativas de la 
    industria musical. A través de su letra, el dúo estadounidense expresa su rechazo a ser encasillados en un 
    solo género o estilo, destacando su deseo de innovar y explorar libremente su creatividad sin adherirse
     a las fórmulas convencionales que dicta el mercado. </p>
  <p> A Tyler no le importa ganar fama o dinero, si no, inspirar a la gente</p>
</div>

<div class="song__significado">

  <h3>The Judge</h3>

  <p>Tyler se imagina el día en el que muera y tenga que ser juzgado por Dios, el dice que es una buena persona,
    pero que Blurryface es ls mitad de Tyler, por lo que todo lo que hizo Blurryface, también lo hizo Tyler, por lo 
    que se arrepiente y es consumido por la oscuridad. Confieza que no debería ser salvado por Dios, ya que no cree
    que su fe en Dios sea tan fuerte.
  </p>
  
</div>

<div class="song__significado">

  <h3>Doubt</h3>

  <p>En doubt Tyler intenta aceptar que Blurryfacees partre importante de él y aquella dualidad entre lo positivo y 
    negativo también lo es. 
  </p>
  <p>Tyler, al intentar con fuerza seguir creyendo en Dios, siente que no es un buen cristiano, ya que no 
    debería tener esas inseguridades. Se pregunta si realmente Dios existe o en realidad la religión es solo 
    impuesta a los niños a repetir frases que no entienden.</p>
    <p>Al final menciona que unos obispos se preocupan porque Tyler se esta revelando contra su religión, frase
      que tendrá importancia más adelate en la historia de DEMA.
    </p>
  
</div>

<div class="song__significado">

  <h3>Polarize</h3>

  <p>En Polarize Tyler pide ayuda a Dios y en Clique (los fans) a que lo ayuden a separar de él a Blurryface,
     pero en vez de enfrentarlo lo evita y se sale de control. Él desea ser un mejor hermano e hijo.
     Tyler cree que nunca va a lograr vencer a Blurryface y que va a perder contra sus demonios.
     Parece que la fe que tenía en Dios desapareció y se está rindiendo, dejándole el trabajo de acabar 
     y superar sus inseguridades a Dios.
  </p>
  
</div>

<div class="song__significado">

  <h3>We Don't Belive What's on TV</h3>

  <p>La canción incita a seguir tus sueños y a no creer en todo lo que se ve en la redes y en la TV.
    Ellos creen que debemos ignorar lo que espera la sociedad y que el éxito lo definimos nosotros y es más que 
    ganar mucho dinero o tenr mucha fama.
  </p>
  <p> Aveces no hacemos lo qu nos gusta para adaptarnos a la sociedad o l que quieren nuestros padres, pero 
    debemos hacer lo que nos hace feliz y ser auténticos.
  </p>
  
</div>

<div class="song__significado">

  <h3>Message Men</h3>

  <p>Tyler intenta ocultarse bajo una máscara que esconde la realidad, en este momento 
    se da cuenta que cada vez tiene menos control sobre si mismo y esta perdiendo contra Blurryface.
  </p>
  <p>También trata de decirle a la audiencia que tome las canciones con discreción, porque aunque denoten 
    problemas emocionales fuertes, no deben ser escuchadas solo para identificarse, si no para dar un mensaje 
    positivo que empodere a quienes la escuchan y se sientan mejor. Aunque tengan temas sensibles, muchas son una 
    manera de desahogarse.
  </p>
  
</div>

<div class="song__significado">

  <h3>Hometown</h3>

  <p>Las sombras amenazan de acabar con Tyler, se escucha derrotado, últimamente estaba cada vez más distanciado
    de sus creencias, pero con lo poco que le queda, le pide a Dios que encienda la llama que estuvo en él. </p>
  <p>Es la búsqueda de la luz, se siente desorientado y desesperanzado. La ausencia de sol y la oscuridad 
    pueden ser metáforas de la falta de claridad, felicidad o calor en su vida. La repetición de 
    'our hometown’s in the dark' enfatiza la persistencia de esta sensación de vacío o desconexión con sus raíces.</p>
</div>

<div class="song__significado">

  <h3>Not Today</h3>

  <p>Es la representación de la cabeza de Tyler, cuenta que prefiere quedarseen su casa mirando por la ventana,
    creyendo que el mundo estaría mejor sin él. Se intenta convercer de que es todo un producto de su mente y pronto
    Blurryface, el nombre de las inseguridades de Tyler, estará fuera de su cabeza.
  </p>
  <p>Aunque la canción suena muy feliz, toca temas muy oscuros, pero esto representa la dualidad que habita en su mente.
    Tyler se siente preparado para enfretar a Blurryface y parece que va a ganar.
  </p>
  
</div>

<div class="song__significado">

  <h3>Goner</h3>

  <p>En Goner, aunque en Not Today venció a su versión opuesta, esta contraatacó a Tyler, él diciendo que 
    es un desauciado, es un llanto desesperado por ayuda de alguien, de Jenna, de Josh, del Clique o de Dios. </p>
  <p>El verso 'I wanna be known by you' revela un deseo de conexión y entendimiento por parte de alguien
     específico, tal vez un ser querido o la audiencia en general. La lucha se profundiza con la admisión de
      tener 'dos caras', donde 'Blurry' representa la parte de sí mismo que el cantante quiere superar o 
      esconder. La letra 'I need your help to take him out' es un reconocimiento de que no puede enfrentar
       sus demonios solo y necesita la ayuda de otros para superar sus desafíos.</p>
    <p>Al final, se empodera y logró vencer temporalmente a Blurryface.</p>
</div>

    </section>
</main>

<footer>
    <ul>
        <li>COPYRIGHT 2025 BLEITO</li>
        <li><a href="http://" target="_blank" rel="noopener noreferrer">POLÍTCA Y PRIVACIDAD</a></li>
    </ul>
</footer>    

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>

</body>

</html>
