<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="twenty one pilots self tituled significado y tracklist">
    <meta name="keywords" content="álbumes de twenty one pilots, twenty one pilots, spotify, self tituled significado,
     self tituled tracklist">
    <meta name="google-site-verification" content="6iLMJkWDEpp_BCkq4JoQLd6wTY1Vfzz-Tvf0wUZh0uQ" />
    <title>Self Tituled</title>

        <!--Google fonts-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap" rel="stylesheet">
        <!--Fontawesome-->
        <script src="https://kit.fontawesome.com/f7613123b7.js" crossorigin="anonymous"></script>
        <!--bootstrap-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
       <!--CSS propio-->
        <link rel="stylesheet" href="../css/styles.css">
       <!-- Animaciones-->
       <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body>
        <header>
            <nav class="navbar fixed-top">
              <div class="container-fluid">
                <a class="navbar-brand" href="../index.html">T∅P</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar">
                  <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menú</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                  </div>
                  <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                      <li class="nav-item">
                        <a class="nav-link active" href="./albumes.html">ÁLBUMES</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">SELF TITULED</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="./rab.html">REGIONAL AT BEST</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="./vessel.html">VESSEL</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="./blurryface.html">BLURRYFACE</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="./trench.html">TRENCH</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="./sai.html">SCALED AND ICY</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="./clancy.html">CLANCY</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </nav>
          </header>        
    
<main>
<h1>SELF TITULED</h1>
  <section class="iframe__spotify">

    <iframe 
    src="https://open.spotify.com/embed/album/6rgWZP4QFBjEFF0n6JWEOa?utm_source=generator&theme=0"
     width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write;
      encrypted-media; fullscreen; picture-in-picture" loading="lazy">
    </iframe>
  
    </section>

    <section class="container__songs">
        <h2>SIGNIFICADOS</h2>
        <div class="song__significado">
            <h3>Implicit Demand For Proof</h3>
            <p>Es una canción que explora la fe, la duda y busqueda de significado, en especial sobre la lucha entre
              la fe y la lógica. 
              El título sugiere que el protagonista ruega a Dios una prueba de su existencia. La repetición de la frase
               'Rain down and destroy me' puede interpretarse como un deseo de evidencia tangible.
            </p>
        </div>

        <div class="song__significado">
          <h3>Fall Away</h3>
          <p>Esta canción representa el miedo a perderse uno mismo. El estribillo 'I don't wanna fall, fall away'
             refleja la resistencia frente a la posibilidad de desviarse de su esencia u 
             objetivos. Mantener 'las luces encendidas' simboliza el esfuerzo por permanecer 
            consciente y presente, evitando caer en la oscuridad de la desesperación o la pérdida de identidad.</p>
          <p>Las líneas 'I disguise / And I will lie / And I will take my precious time' sugieren una batalla
            con la autenticidad, donde se siente obligado a ocultar su verdadero yo. La canción también aborda temas 
            de culpa y redención, como se ve en 'my crime is my sentence / Repentance is taking commission',
            lo que indica una lucha por reconciliar sus acciones con su conciencia.
          </p>
      </div>

      <div class="song__significado">
        <h3>The Pantaloon</h3>
        <p>La canción explora temas de envejecimiento, locura y la inevitable decadencia que 
          acompaña la vejez, donde predomina el desgaste social y personal.
          La canción toca el tema de que con el paso del tiempo, la gente va perdiendo la cordura y se convierten en una
          versión más "tonta" de si mismos. También se podría decir que habla sobre el sentirse solo al envejecer,
          quiza por la pérdida de seres queridos, abandono, olvido, o que toman a esa persona como un tonto.
        </p>
    </div>

    <div class="song__significado">
      <h3>Addict with a Pen</h3>
      <p>Es una canción que puede ser interpretada de muchas maneras (como la mayoria de canciones de la banda).
        La frase "addict with a pen" podría significar que la manera de afrontar los problemas de esa persona es
        escribiendo. La metáfora de la canción es un desierto, que representa la mente del protagonista que busca una 
        "gota de agua" que podría ser interpretado como la búsqueda de un propósito o sentido de vida. La gota que se escapa
        de la palma refleja como se escapa fácilmente la felicidad y buenos momentos. También suplica ser perdonado y purificado.
        Hay quienes interpretan como una charla con Dios, (o alguien como un padre o figura de crianza)
         contándole lo que le sucede y reclamando que no lo ha "encontrado", ni ha encontrado un propósito.
      </p>
  </div>

  <div class="song__significado">
    <h3>Friend, Please</h3>
    <p>Esta canción refleja la súplica de un amigo hacia alguien que tiene pensamientos negativos e intenciones
      de acabar con su vida. El amigo se preocupa por su bienestar y le pide que busque ayuda, que siga viviendo, 
      diciendole que no esta solo. Frases como "spiders crawled inside" o "Petrified of who you are and who you have become"
      son una metáfora que relaciona los pensamientos negativos o intrusivos y el aislamiento y pérdida de identidad
      que sufren las personas con problemas de salud mental.
    </p>
  </div>

  <div class="song__significado">
    <h3>March to the Sea</h3>
    <p>
      Toca temas de la monotonía de la vida cotidiana y el conformismo, posteriormente sobre la rebelión ante estas.
      La letra describe una procesión de personas que caminan hacia el mar, una metáfora de seguir ciegamente el camino 
      establecido por la sociedad sin cuestionar su propósito o destino. La repetición de 'y caeré en línea' sugiere
       una resignación a seguir el camino trazado por otros, a pesar de la conciencia de que este camino lleva a la
        muerte simbólica o literal.
    </p>
  </div>

  <div class="song__significado">
    <h3>Johnny Boy</h3>
    <p>
      Trata las expectativas sociales y la resiliencia. Cuenta la historia de un hombre que día a día enfrenta
       la presión de cumplir con sus responsabilidades laborales y familiares mientras lucha con sus propios problemas internos.
       La canción describe que aunque debería ser premiado por sus esfuerzos, no es suficientemente reconocido por ellos.
       El estribillo anima a Johnny a seguir adelante y que en realidad, él si tiene valor para todos.
    </p>
  </div>

  <div class="song__significado">
    <h3>Oh Ms Beliver</h3>
    <p>Aborda temas de amor, apoyo a medida que pasa el tiempo. La referencia en la letra de viajar juntos 
      a través de la nieve simboliza un viaje compartido a través de tiempos difíciles y desafiantes, que aunque
    la vida se ponga más dura, si permanecen juntos, podrán enfrentar los desafíos y adversidades.</p>
  </div>

  <div class="song__significado">
    <h3>Air Catcher</h3>
    <p>Simboliza el miedo a enamorarse debido al riesgo que supone, al haber la posibilidad de sufrir.
       La letra sugiere que el narrador ha sido autosuficiente y estaba bien por su cuenta, la repetición del
        verso 'I won't fall in love with falling' enfatiza su determinación de no dejarse llevar por el amor 
      porque cree que es potencialmente dañino.</p>
   </div>

   <div class="song__significado">
    <h3>Trapdoor</h3>
    <p>Cuenta la historia de un hombre que finge estar bien, que perdió su sentido de identidad y que no 
      siente su vida como propia. La palabra "trapdoor" puede interpretarse como la critica social hacia
      la invalidación de problemas. Muchas frases de la canción manifiestan pensamientos negativos, pérdida de 
      esperanza y lo destructivo que puede ser todo esto aunque esas personas sufran en silencio.
    </p>
   </div>

   <div class="song__significado">
    <h3>A Car, a Torch, a Dead</h3>
    <p>Explora temas de sacrificio, protección y redención, agobio y escape, donde el personaje desea liberarse 
      de su vida y cambiar. La lucha contra los demonios, posiblemente metáforas de los problemas internos o tentaciones.
      La canción culmina con la aceptación del protagonista de su papel como protector, dispuesto a enfrentar los desafíos y
       sacrificarse por el bien de la persona amada.
    </p>
   </div>

   <div class="song__significado">
    <h3>Taxi Cab</h3>
    <p>Explora el deseo de purificación y conexión con algo más grande, así como la dualidad entre morir y volar 
      como símbolos del viaje de la vida. La frase "We're going home" sugiere un regreso a un lugar de paz
       o pertenencia, quizás una metáfora del más allá.
      La historia del coche fúnebre sin gasolina simboliza un punto de inflexión, donde el
       narrador se libera de sus limitaciones o de su mortalidad. El final de la canción transmite una idea de
        renacimiento, donde los errores del pasado pueden ser lavados y que se puede empezar de nuevo.
      </p>
   </div>

   <div class="song__significado">
    <h3>Before You Start Your Day</h3>
    <p> Es una reflexión introspectiva, se menciona que le preguntes a tu alma o a ti mismo si estas bien.
      En esta se incita a afrontar tus problemas internos y emociones. Busca trasmitir tranquilidad y la importancia
      de cuidar tu salud mental y bienestar.
    </p>
   </div>

   <div class="song__significado">
    <h3>Isle of Flightless Birds</h3>
    <p>
      Es una reflexión introspectiva y crítica sobre la condición humana y la búsqueda de propósito en la vida.
       La letra sugiere una lucha interna entre las fuerzas del bien y del mal, representadas por ángeles y demonios
        que dan sentido a nuestras emociones y acciones.
        Aborda la idea de conformidad y la presión de adherirse a lo que se considera 'correcto' o 'incorrecto'
        por la sociedad y que se puede encontrar libertad.  concluye con un llamado a la acción para que las personas
        consideren las consecuencias de sus elecciones y la importancia de vivir una vida auténtica.
    </p>
</div>

</section>
</main>

<footer>
    <ul>
        <li>COPYRIGHT 2025 BLEITO</li>
        <li><a href="http://" target="_blank" rel="noopener noreferrer">POLÍTCA Y PRIVACIDAD</a></li>
    </ul>
</footer>    

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>

</body>

</html>
