<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="twenty one pilots vessel significado y tracklist">
    <meta name="keywords" content="álbumes de twenty one pilots, twenty one pilots, spotify, vessel significado,
     vessel tracklist">
    <meta name="google-site-verification" content="6iLMJkWDEpp_BCkq4JoQLd6wTY1Vfzz-Tvf0wUZh0uQ" />
    <title>Vessel</title>

        <!--Google fonts-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap" rel="stylesheet">
        <!--Fontawesome-->
        <script src="https://kit.fontawesome.com/f7613123b7.js" crossorigin="anonymous"></script>
        <!--bootstrap-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
       <!--CSS propio-->
        <link rel="stylesheet" href="../css/styles.css">
       <!-- Animaciones-->
       <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body>
        <header>
            <nav class="navbar fixed-top">
              <div class="container-fluid">
                <a class="navbar-brand" href="../index.html">T∅P</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar">
                  <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menú</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                  </div>
                  <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                      <li class="nav-item">
                        <a class="nav-link active" href="./albumes.html">ÁLBUMES</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="./self_tituled.html">SELF TITULED</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="./rab.html">REGIONAL AT BEST</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">VESSEL</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="./blurryface.html">BLURRYFACE</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="./trench.html">TRENCH</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="./sai.html">SCALED AND ICY</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="./clancy.html">CLANCY</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </nav>
          </header>        
    
<main>
<h1>VESSEL</h1>
  <section class="iframe__spotify">

    <iframe style="border-radius:12px" 
    src="https://open.spotify.com/embed/album/2r2r78NE05YjyHyVbVgqFn?utm_source=generator" 
    width="100%" height="352" frameBorder="0" allowfullscreen="" 
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy">
   </iframe>
  
    </section>

    <section class="container__songs">
        <h2>SIGNIFICADOS</h2>
        <div class="song__significado">
            <h3>Ode To Sleep</h3>

            <p>Esta canción menciona la dualidad entre la luz y la oscuridad y los conflictos de mente humana,
              conciencia y desesperación que se ve reflejada en el ciclo de sueño, contando que cuando se despierta
              y durante el día se siente bien ya que su día tiene ocupaciones, pero a medida que la noche se acerca, se comienza
              a sentir cada vez peor. En esos momentos lo invaden pensamientos oscuros y "la oscuridad planea llevarse prisioneros" 
              que refiere a que la oscuridad, sus demonios internos, lo hacen cuestionarse la idea del suicidio. </p>
             <p> El suplica y pide porfavor, y se pregunta desesperadamente ¿Por qué cada noche su propia cabeza y demonios comienzan
              a torturarlo y a decirle que esta pérdido?, ¿Así es vivir libre?
            </p>
            <p> En estas noches decide afrontar la oscuridad y escribir todo lo que siente y piensa usando la escritura como un
              arma, permaneciendo despierto, es decir, vivo. Al amanecer, se da cuenta que esas voces y pensamientos ya no están,
              y cree que se acabó, pero cuando el día termine, sabe que volverá a repetir el ciclo.
             </p>
             <p>Los demonios representan las cosas malas que nos pasan día a día, durante la noche, al no haber distracciones,
              todas esas cosas negativas que ignoramos en el día se vuelven inevitables de pensar o evadir, es como si aquellos
              "demonios" hicieran todo lo posible para acabar con la vida de Tyler y que se rinda.
             </p>
            <p>
              La canción aborda temas como el fingir como en la parte "A mask that portrays that we don't need grace".
              La línea 'Metaphorically, I'm a whore' indica una lucha con la autoimagen y la sensación de haber
               traicionado los propios valores o creencias, la lucha entre la fe y el creer que Dios no lo ayuda o 
               lo salva de él mismo.
            </p>

        </div>

        <div class="song__significado">

          <h3>Holding On To You</h3>

          <p>
            En Holding on to You se toca el tema de como la mente y psiquis puede ser nuestro peor enemigo, hay 
            veces en las que no sentimos que tenemos control sobre nuestro cuerpo y pensamientos, y que aunque pensemos 
            en matarnos, debemos luchar con las ganas de hacerlo y no hacerle caso a nuestra cabeza 
            "Fight it, take the pain, ignite it, 
            Tie a noose around your mind loose enough to breathe fine and tie it, To a tree, tell it: 
            You belong to me, this ain't a noose, this is a leash, I have news for you, you must obey me"
          </p>

          <p>
            Tyler, en la canción siente culpa por abrirse a Dios en momentos y cerrarse en otros según sus
            intereses y termina creyendo que Dios no confía en el y debería tomar su vida y alma.
            En el verso de entretain my faith refiere al hecho de aferrarse a creer en algo y tener esperanza.
          </p>

        </div>

        <div class="song__significado">

          <h3>Migraine</h3>

          <p>En esta canción se utiliza la migrania o dolor de cabeza como mecotáfora para los pensamientos
            negativos y el dolor mental y psicológico que se describe como una "guerra que se esconde
             detrás de su cara y garganta" q sugiere q oculta sus problemas a los otros. Se menciona que aveces muerte
              suena mejor que la migrania, es decir que sus pensamientos negativos.
              Tyler dice que su cabeza es como una isla de leones suicidas que intentan matarlo y que aunque el no 
              quiera, su mente siempre termina llevándolo al mismo lugar.
          </p>
          <p>
            Varias partes de la canción insinuan lo difícil que se volvio su lucha, el verso "Thank God
             it's Friday cause Fridays will always be better than Sundays cause Sundays are my suicide days" podría 
             referir a la gravedad del asunto y que los viernes es un día más ocupado que los domingos, en los que
             no se suele tener obligaciones y esto da lugar a tener tiempo libre y acabar pensando de más al no tener nada
             que hacer.
          </p>
          <p>
            De todos modos, la canción deja un mensaje de resistencia y de no rendirse, ya que llegamos muy lejos aunque
            no lo creamos, es un recordatorio de que debemos sobrevivir y continuar luchando, pero que aveces la única manera de
            mantenerse vivo es matando metafóricamente a tu mente.
          </p>

        </div>
        
        <div class="song__significado">

          <h3>House of Gold</h3>

          <p>La canción la dedico Tyler a su madre. Surgió de una conversación que tuvieron en la que su madre le
            preguntó si cuidará de ella cuando sea mayor y si le comprará una casa de oro, esta simbolizando
            el confort y la seguridad, quien Tyler responde que la hará reina de todo lo que vea, 
            En el videoclip oficial, al amanecer, Tyler y Josh aparecen cortados a la mitad, 
            como metáfora a lo dura que fue la noche.
          </p>
          <p>Hacia el final, la canción reconoce que los sueños a menudo mueren y que la vida puede dar giros inesperados
            esto también ayuda al tema principal del álbum, que con la llegada de la noche, la canción se vuelve más
            oscura y pesimista, sabiendo que llegará la noche a la cual tanto teme.
          </p>
          <p>
            En una entrevista Tyler cuenta que el significado de la canción va de la mano con ser capaz de morir
            por alguien, pero a su vez, vivir por esa persona, ya que cuando uno no quiere seguir con vida, no te
            preocupa morir, lo realmente difícil es vivir por ella.
          </p>

        </div>
                
      <div class="song__significado">

        <h3>Car Radio</h3>

        <p>En car radio se presenta la problemática de que la radio del auto del protagonista fue robada,
          y ahora cuando conduce se encuentra en silencio y sin ninguna distracciónde su mente y pensamientos, donde
          la mente empieza a borbardear con cosas negativas y dolorosas.
        </p>
        <p>
          En un momento, se plantea reemplazar el espacio vacio, donde antes estaba la radio, para volver a estar 
          distraído e ignorar sus pensamientos, pero llega a la conclusión que aunque sea doloroso y terrible pensar,
          aveces es necesario afrontarlos problemas, porque si no la única opción será callar todo aquello que molesta
          con cosas como música, videos o alguna otra actividad, pero nunca podremos estar en silencio. 
        </p>
        <p>
          También se menciona que hay dos opciones, tener fe (representación de vivir) y dormir (morir), y que debemos
          elegir una, pero que el quiere que elijamos la correcta, vivir.
        </p>

      </div>
                      
      <div class="song__significado">

        <h3>Semi-Automatic</h3>

        <p>Esta canción representa la lucha entre lo que hacemos y lo que queremos hacer, pero aunque tengamos
          el control de lo que hacemos, aveces no tomamos la desición que sabemos que es correcta
           para nosotros o los demás y Tyler cuenta que no le agrada quien es, pero que de cierto modo,
           com parte oscura de él, encuentra cierto placer en sufrir o ver a los demás sufrir. 
           Cuenta que de día estos pensamientos desaparecen, pero en la noche vuelven aún más fuertes </p>
           <p> Al final de la canción se deja como mensaje que aunque esa sea una luchas muy difícil,
            seguirá de pie.
           </p>

      </div>
                          
    <div class="song__significado">

      <h3>Screen</h3>

      <p>Screen refleja que aunque le intente mentir a Dios sobre como esta, no puede, ya que es como
        si hubiera una pantalla en su pecho. También se relaciona con el hecho de que aveces fingimos ser alguien 
        que no somos o que estamos bien cuando no lo estamos, pero Dios o esa persona lo notará.
      </p>
      <p>
        Abordá temas como el miedo a mostrarse como realmente es y que pierde su tiempo justicando cosas porque le 
        importa lo que la gente piensa, tratando de encajar en la sociedad y ocultando como es realmente.
      </p>
      <p> Al final, se dice que debemos aceptar como somos y que somos "gente rota" simbolizando que todos tenemos
        defectos y eso está bien.
      </p>
    
    </div>

    <div class="song__significado">

      <h3>The Run and Go</h3>

      <p>Se ubica devuelta en la noche, donde el protagonista acepta que no podrá quedarse solo esa noche 
       y enfretarse a sus demonios sin ayuda, ya que el silencio es demasiado violento.
       Se usa la metáfora de que mato a un hombre como sinónimo de un error grave y que esta escapando de las consecuencias
       psicológicas y la culpa del acto que realizó.
      </p>
      <p>Aunque la persona no quiere llamaarla en la noche, molestarla, ser un problemas
         o contarle lo que le sucede, ya que quiere proteger a esa persona que quiere de sus propios demonios,
        concluyé que necesita que se quede con él, al menos, solo demostrando su apoyo.
      </p>
    
    </div>

    <div class="song__significado">

      <h3>Fake You Out</h3>

      <p>En esta canción Tyler teme no ser suficiente y siente incapaz de cumplir las espectativas de los demás,
        siente que, aunque le digan que estan cerca, el se siente solo y tan lejos como la estrella más cercana,
        por ende finge estar bien y alguien que no es, para engañar a los demás, y que mentirá y engañara todo lo 
        que quiera.
      </p>
      <p>En el rap dice que tiene muñecas sangrando (que podría verse como una metáfora a la autolesión o a el 
        resultado de lo que piensa) que le recuerdan todos sus errores y lo que hizo mal. También dice que mucha gente
      se termina matando por no saber como afrontar su propia mente y no sienten control sobre si mismos, pero que si 
      formas parte de esas personas, formas parte de los suyos y que harias cualquier cosa para sentirte libre, pero
      quiere que sepamos que nuestros cerebros estan enfermos, pero eso esta bien.
    </p>
    
    </div>

    <div class="song__significado">

      <h3>Guns for Hands</h3>

      <p>Esta canción tiene una historia detrás, Tyler contó en una entrevista que un día después de un show varios
        fans ser acercaron a contarles sus luchas, tales como depresión o pesamientos suicidas. Hizo esta canción 
        para dedicarla a todas esas personas que se sentián igual que él.
      </p>
      <p>Al principio la canción dice que sabe lo que las personas sienten en la mañana, cuando el sol comienza a brillar y se
         muestran los actos autolesivos que han cometido (ya sea intentos de suicidio u otros). 
         Le promete a sus padres que no volverá a pasar, siendo esta un ciclo sin fin. 
         "I know what you think in the morning, When the sun shines on the ground, And shows what you have done
          It shows where your mind has gone and you swearing to your parents, that it will never happen again"
      </p>
      <p>En el estribillo se menciona que Tyler sabe que tienen intenciones de acabar con su vida, pero que no lo hagan,
        que no puede dormir, ya no por sus demonios, si no porque sabe que hay un mntón de personas que tiene armas
        en sus manos y están pensando en tomarla (o sea en suicidarse). Ahora, junto a Josh, usa todo lo que
        lucho durante las noches para ayudar a quienes estan pasando por lo mismo mediante las canciones.
      </p>
      <p>Al final dice que convertimos nuestras manos en armas y que a medida que se pone el sol, le empiezan
        a llegar ideas sobre acabar con su vida, pero su forma de no hacerlo es viendo una habitación llena de 
        personas pasando por lo mismo apoyándose mutuamente para salir adelante y que admitan que pueden hacerse
       daño, pero que apunten todo ese malestar en algo que les guste, como el arte, la escritura un deporte, etc.
       Que siempre hay mejor opción e incluso preferiría que lo golpeen en el pecho, debemos convertir nuestras armas
       en un puño y seguir luchando. </p>
    
    </div>

    <div class="song__significado">

      <h3>Trees</h3>

      <p>La canción narra la búsqueda de un propósito, esta canción se remonta a tiempos mucho más antiguos que Vessel,
        Tyler explicó que antes el iba a distintos lugares a escribir en busca de una razón de existir y terminó en un 
        bosque silencioso. Allí se pone a escribir sobre que aún no sabe cual es su propósito. En aquel show donde
        habló sobre el significado de Trees, dijo que debemos agarrar aquello que nos gusta y transformarlo en algo que 
        impacte a los demás.
      </p>
      <p>Hay quienes dicen que esta canción refiere a la religión y al intento de Tyler de hablar con Dios, 
        conocerlo, aunque el no se muestre el puede sentirlo, pero todo gira al rededor de preguntas sin respuestas 
        y sin descenlace. Ese día encontró el significado sin darse cuenta, el camino, esperanza, la búsqueda y el conseguirlo. 
      </p>
    
    </div>

    <div class="song__significado">

      <h3>Truce</h3>
     
      <p>Truce trata de dejar el mensaje claro de todo lo que quiso decir el álbum mediante metáforas, y letras hermosas,
        oscuras, movidas y confusas a la vez. Esta quiere dejar una cosa, que sin importar que, te mantengas con vida
        y a salvo. El sol saldrá y lo intentaremos de nuevo, aunque la noche vuelva y le temamos a esta, no seremos nuestros
        único amigo y podremos salir adelante, de todos modos, todos en algún momento moriremos pero lo que importa
        es el camino y que debemos enorgullecernos de nuestra vida y de luchar por ella.
      </p>

    </div>


    </section>
</main>

<footer>
    <ul>
        <li>COPYRIGHT 2025 BLEITO</li>
        <li><a href="http://" target="_blank" rel="noopener noreferrer">POLÍTCA Y PRIVACIDAD</a></li>
    </ul>
</footer>    

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>

</body>

</html>
